library/bin/
library/gen/
library/.settings/
library/.project
library/.classpath
library/local.properties

sample/bin/
sample/gen/
sample/.settings/
sample/.project
sample/.classpath
sample/local.properties

*.tmp
*.bak
*.swp
*.launch
**/.DS_Store
.DS_Store

# IntelliJ project files
*.iml
*.ipr
*.iws
.idea/i
.idea/

# Maven Files
pom.xml.*
settings.xml
